<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Discord logger statisztika</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="/style.css">
</head>

<body>
    <%- include('core/navbar'); %>
        <div class="container mt-3">
            <div class="row">
                <div class="col-12">
                    <h4>Here you can see the messages sent by the selected author.</h4>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-12 d-flex">
                    <div class="me-3">
                        <a class="btn btn-success" href="http://localhost:3000/authors/<%=pageNumberOfAuthor%>">Go back
                            to
                            authors</a>
                    </div>
                    <div>
                        <a href="http://localhost:3000/messages/1" class="btn btn-success">Go back to
                            messages</a>
                    </div>
                </div>
                <div class="col-12 mt-3">
                    <h3>Author:</h3>
                    <p>ID: <%= author.id %>
                    </p>
                    <p>Name: <%= author.name %>
                    </p>
                    <p>Created: <%= author.createdAt %>
                    </p>
                </div>
                <div>
                    <a class="btn btn-success" href="http://localhost:3000/statistics/author/<%=author.id%>">Go to
                        author's statistics</a>
                </div>
                <div class="col-12 mt-3">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Content</th>
                                <th>Created</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% messages.forEach(row=> { %>
                                <tr class="messageRow" data-id="<%= row.id %>">
                                    <td>
                                        <%= row.id %>
                                    </td>
                                    <td>
                                        <%= row.content %>
                                    </td>
                                    <td>
                                        <%= row.messageCreatedAt %>
                                    </td>
                                </tr>
                                <% }) %>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
            crossorigin="anonymous"></script>
        <script src="/index.js"></script>
</body>

</html>